.container {
    display: flex;
}

.cards {
    flex: 2.6 1 0;
    min-height: 100vh;
}

.favorite {
    flex: 1 1 0;
    height: fit-content;
    padding: 15px;
    background-color: #471b3c;
    border-radius: 10px;
    margin-left: 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.favorite h4{
    font-size: 1.2rem;
}
