.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #9a65e1;
    padding: 10px 20px;
    margin-bottom: 80px;
    font-size: 1.1rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.header a {
    text-decoration: none;
    color: #ccc1da;
    font-weight: 600;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}

.header a:hover {
    color: #5f00dc;
}

.footer {
    text-align: center;
    background-color: #9a65e1;
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width:430px){
    .header{
        flex-direction: column;
    }
}
